<?xml version="1.0"?>
<config>
    <node>
        <name>RHU NAME</name>
        <code>030810000</code>
        <telephone>2444284</telephone>
        <level>self</level>
        <province>Tarlac<province>
    </node>
    <node>
        <name>PHO</name>
        <code>030810000</code>
        <telephone>2444284</telephone>
        <level>parent</level>
        <province>Tarlac<province>
    </node>
    <node>
        <name>RHU NAME</name>
        <code>030810000</code>
        <telephone>2444284</telephone>
        <level>child</level>
        <province>Tarlac<province>
    </node>
</config>
